@font-face {
    font-family: 'TheRainmaker';
    src: url('therainmaker.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.draggable {
    color: white;
    font-family: 'TheRainmaker', sans-serif;
    font-size: 55px;
    border: 2px solid white;
    padding: 2px 9px;
    border-radius: 10px;
    background-color: black;
    z-index: 1;
    cursor: grab;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none; 
    color: black; 
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: 43px;
    position: relative;
    display: inline-block;
}

p {
    font-family: 'TheRainmaker', sans-serif;
    font-size: 60px;
    color: white;
    position: fixed;
    top: 30px;
    left: 30px;
}

@media (max-width: 768px) {
    .pop p {
        font-size: 5vw;
    }

    .pop a {
        font-size: 4vw;
    }

    .draggable {
        font-size: 4vw;
        top: -50px;
    }
}

@media (max-width: 480px) {
    .pop p {
        font-size: 7vw;
    }

    .pop a {
        font-size: 6vw;
    }

    .draggable {
        font-size: 6vw;
        top: -45px;
    }
}
